h3,h2,i{
	font-family:'ו'  !important;
}
div.top-static{
	padding: 20px 0 40px 0;
	width:90%;
	margin:0 auto;
}
div.coo{
	width: 35%;
	display: inline-block;
	height: 300px;
	box-sizing: border-box;
}
div#coo3{
	width: 26%;
}
div.detail-box{
	display: inline-block;
	padding: 40px 0;
}
div#tower-detail{
	width: 100%;
	height: 650px;
	margin: 0;
}
div.tower-list{
	width:1195px;
	margin-left:78px;
	z-index:9999;
	margin-top:-10px;
}
div.tcoo{
	width:5.55%;
	float:left;
	
}
div.title-top{
	position: relative;
	height:40px;
}
div.change-button{
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 16px;
	box-shadow: 1px;
	font-weight: bold;
	float: right;
	width: 180px;
}
div.change-button i{
	display: inline-block;
	font-style: normal;
	line-height: 1.8;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	border:1px solid #666;
}
div.change-button i.detail-selected{
	background-color: blue;
	color: #fff;
}
i#area-detail{
	border-radius: 0 5px 5px 0;
	border-left:none;
}
i#num-detail{
	border-radius: 5px 0 0 5px;
	border-right: none;
}
div#statis-wrapper{
 	padding:0;
 	margin 10px auto;
}